v
[{"id":"ed84a31a.c109c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2d3c4d9.13466b2","type":"ftp","z":"","host":"localhost","port":"21","secureOptions":"","user":"ashish","connTimeout":"","pasvTimeout":"","keepalive":""},{"id":"685d25a3.032f0c","type":"ftp in","z":"ed84a31a.c109c","ftp":"2d3c4d9.13466b2","operation":"list","filename":"","localFilename":"","name":"","x":390,"y":120,"wires":[["f1a2235f.e8162"]]},{"id":"f1a2235f.e8162","type":"debug","z":"ed84a31a.c109c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","x":610,"y":120,"wires":[]},{"id":"64eecb54.fdf2f4","type":"inject","z":"ed84a31a.c109c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":140,"wires":[["685d25a3.032f0c"]]}]